#subjectName{
    color: black;
}

body  {
    background-image: url("http://www.penguinteen.com/content/uploads/Falkland_Islands_Penguins_40.jpg");
    background-color: #cccccc;
    text-align: center;
    color: white;
    font-size: x-large;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    text-align: center;
}