head, body {
    background-color: darkgrey;
}

.welcomePageWrapper {
    margin: 3%;
    padding: 3%;
    max-height: 80%;
    background-color: white;
    text-align: center;
}

.Wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 13fr 1fr;
    grid-auto-rows: minmax(560px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
}

header {
    display: grid;
    grid-column: 1/4;
    background-color: white;
}

footer {
    display: grid;
    grid-column: 1/4;
    background-color: white;
}


.Wrapper > div{
    background: cadetblue;
    padding: 1em;
}

.Wrapper > div:nth-child(odd){
    background: lightblue;
}

.nestedHeader {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nestedFooter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


img, #subjectName, #chatTitle {
    margin: auto;
    max-width: 30%;
}

#subjectName, #chatTitle {
    font-size: large;
}

#imageHeader {
    max-height: 30px;
    max-width: 30px;
}

#logoGrande {
    max-width: 25%;
}

#exitButton {
    position:absolute;
    bottom: 87.7%;
    left: 76%;
}

#userInput {
    background-color:dimgrey;
    position:relative;
    top: 98%;
}

#userTextInput {
    padding-right:75%;
    float:left;
    margin-right: 5px;
    position:relative;
}

#sendButton{
    float:right;
    padding-right: 1%;
    position: absolute;
    margin-bottom: 5px;

}