/*PALETE DE CORES*/
/*.color-primary-0 { color: #B61919 } -> VERMELHO PRINCIPAL */

/* possiveis cores na mesma escala de vermelhos
.color-primary-1 { color: #932D2D }
.color-primary-2 { color: #A62323 }
.color-primary-3 { color: #F81111 }
.color-primary-4 { color: #FF2626 } */

/*.color-primary-0 { color: whitesmoke } ->CINZENTO PRINCIPAL */


head, body {
    background-color: darkgrey;

}

.Wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 15fr 1fr;
    grid-gap: 5px;
    justify-items: stretch;
    align-items: stretch;
}

footer {
    display: grid;
    grid-column: 1/4;
    background-color: white;
}


.Wrapper > div{
    background: ghostwhite;
    padding: 1em;
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 12px;
}

.Wrapper > div:nth-child(odd){
    background: lightblue;
}

.nestedHeader {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size:24px;
    font-family:Trebuchet MS, sans-serif;
    color:#B61919;

}

.nestedFooter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

img, #subjectName, #chatTitle {
    margin: auto;
    max-width: 80px;
}
#ChatRooms {
    background: ghostwhite;
    color: #B61919;
}
#chatroomsquadrado{
    color:black;
}
#i.fa-comment-alt{
    border: #5f0d0c;
    color:black;
    filter: none;
    -webkit-transform: scale(1.39);
}

/* The side navigation menu - Início*/

.chatRooms_sidebar {
    width: auto;
    height: auto;
    display:inline-block;
    border: #932D2D;
    text-align: center;
    text-decoration: none;
    background-color: #e7e7e7;
    color: black;
    font-size: 18px;
    padding: 3px 10px;
    border-radius: 12px;
    font-family:Trebuchet MS, sans-serif;
    min-width: max-content;
    position: relative;
}

.User_Available_Rooms{
    display:inline-block;
    font-family:Trebuchet MS, sans-serif;
}
.chatrooms_sidebar_header {
    border-radius: 12px;
    font-family:Trebuchet MS, sans-serif;
}

.chatrooms_sidenav {
    width:100%;
    background-color: transparent;
    color: black;
    border:none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family:Trebuchet MS, sans-serif;
    transition: 0.5s;
    opacity:1;
}
.chatrooms_sidenav:hover {
    width:100%;
    background-color: transparent;
    border: 2px solid lightgrey;
    filter: none;
    -webkit-transform: scale(1.3);
}

.active .chatRooms_sidenav {
    background-color: transparent;
    border-color: lightgrey;
    border-radius: 2px;
    transform: scale(1.3);
}

.chatrooms_button{
    font-family:Trebuchet MS, sans-serif;
    font-size: 15px;
    border: 2px solid ghostwhite;
    background-color: ghostwhite;
    color: black;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition: all .2s ease-in-out;
    cursor: pointer;
}
.chatrooms_button:hover {
    border: 2px solid lightgrey;
    background-color: transparent;
    color: black;
    filter: none;
    -webkit-transform: scale(1.3);
}
/*Criar e Entrar em salas*/

.chatrooms_sidebar_footer{
    display: block;
    text-align: left;
    text-decoration: none;
    width: max-content;
    margin-top: 300px;
}

/*Entrar sala*/

.joinChatroom {
    display: -ms-flex;
    display:flex;
    width: auto;
    margin-bottom: 15px;
}

#join_chatroom {
    width:auto;
    padding: 10px;
    color:black;
    background-color: white;
    border: none;
    display: inline-block;
    font-size: 14px;
    font-family:Trebuchet MS, sans-serif;
    float: left;
}

#join_chatroom:focus {
    border: 2px solid #932D2D;
}

#joinRoomButton, #fa-sign-in-alt  {
    padding: 10px;
    color:white;
    border:none;
    background-color: #B61919;
    min-width:50px;
    font-family:Trebuchet MS, sans-serif;
    opacity: 1;
    transition: 0.3s;
}

#joinRoomButton:hover {opacity: 0.6}

/*Criar nova sala */

.createNewChatroom {
    display: -ms-flex;
    display:flex;
    width: auto;
    margin-bottom: 15px;
}

#create_new_chatroom {
    width:auto;
    padding: 10px;
    color:black;
    background-color: white;
    border: none;
    display: inline-block;
    font-size: 14px;
    font-family:Trebuchet MS, sans-serif;
    float: left;
}
#create_new_chatroom:focus {
    border: 2px solid #932D2D;
}

#createRoomButton, #fa-plus-circle  {
    padding: 10px;
    color:white;
    border:none;
    background-color: #B61919;
    min-width:50px;
    font-family:Trebuchet MS, sans-serif;
    opacity: 1;
    transition: 0.3s;
}
#createRoomButton:hover {opacity: 0.6}

#Talktous {
    margin-top: 2px;
    padding-right: 4%;
    padding-left: 3%;
    padding-bottom: 1px;
    border-radius: 5px;
    border: solid #B61919;
    color: white;
    background-color: #B61919;
    font-family: Trebuchet MS, sans-serif, bold;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
    float: left;
    transition:all 0.5s;
}
#Talktous:hover {
    opacity: 0.6;
    filter: none;
    -webkit-transform: scale(1.1);
}

#removeOnHover {
    display: none;
}

@media screen and (max-width: 700px) {
    #ChatRooms {
        text-align: center;
        text-decoration: none;
        background-color: #B61919;
        opacity: 90%;
        color: white;
        font-family: Trebuchet MS, sans-serif;
        position: absolute;
        top: -421px;
        transition: 0.3s;
        padding: 10px;
        width: 200px;
        max-height: max-content;
        border-radius: 0 0 20px 20px;
        height: 450px;
    }

    #ChatRooms:hover {
        top: 0;
        left: 0;
        border-bottom-left-radius: 0;
        height:auto;
    }

    .chatrooms_sidebar_footer{
        display: block;
        text-align: left;
        text-decoration: none;
        width: max-content;
        margin-top: auto;
        font-family: Trebuchet MS, sans-serif;
    }

    #removeOnHover {
        margin-top:10px;
        text-align: center;
        font-size: 15px;
    }

    #ChatRooms:hover #removeOnHover {
        display: none;
    }

    .chatRooms_sidenav {
        color: white;
    }

    #joinRoomButton, #createRoomButton {
        border:white;

    }

}

/* The side navigation menu - Fim*/

#chatBoxHeader {
    display: grid;
    grid-template-columns: 10fr 1fr 1fr 1fr 10fr 1fr;
}

#logoSmall {
    max-height: 35px;
    margin-bottom: 5px;
    margin-right: 5px;
}

#logoCHAT {
    max-height: 35px;
    margin-bottom: 5px;
}

#logoIT {
    max-height: 30px;
    margin-bottom: 9px;
    margin-left: -3px;
}

#chatBoxTitle{
    font-family:Trebuchet MS, sans-serif;
    font-size: 20px;
}

#exitButton {
    font-family: sans-serif;
    color: white;
    background-color: #B61919;
    border-radius: 8px;
    border: 2px solid #B61919;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    margin-top: 15px;
    margin-left: 12px;
}

#exitButton:hover {opacity: 1;-webkit-transform: scale(1.05);}

#Chat {
    padding:1%;
    background-color: ghostwhite;
    opacity: 1;
}

#chatBox {
    padding:0;
}

#outputBox {
    text-align: left;
    border-radius: 10px;
    border: solid 2px #B61919;
    margin-top:1%;
    background-color:white;
    overflow-y: scroll;
    height: 580px;
}

/* Scrollbar da outputBox: */
#outputBox::-webkit-scrollbar {
    width: 15px;
    margin-right:10px;
}
#outputBox::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
#outputBox::-webkit-scrollbar-thumb {
    background: #B61919;
    border-radius: 10px;
}
#outputBox::-webkit-scrollbar-thumb:hover {
    background: #5f0d0c;
}

#userInput {
    position:relative;
    margin-top :1%;
    margin-bottom:0.5%;
    width:auto;
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-gap: 2px;
}

#userTextInput {
    margin-top: 4px;
    position:relative;
    padding-bottom: 1px;
    border-radius: 5px;
    font-size: 15px;
    border: solid 2px #B61919;
    font-family: Trebuchet MS, sans-serif;
    text-align: -moz-left;
    text-align: left;
    display: inline-block;
}

.sendButton {
    margin-top: 2px;
    min-width: 60px;
    padding-right: 4%;
    padding-left: 3%;
    padding-bottom: 1px;
    border-radius: 5px;
    border: solid #B61919;
    color: white;
    background-color: #B61919;
    font-family: Trebuchet MS, sans-serif, bold;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
    transition:all 0.5s;
}
.sendButton:hover{
    background-color: #5f0d0c;
    color: white;
    border: solid #5f0d0c;
    -webkit-transform: scale(1.05);
}

#sendIcon {
    display: inline-block;
    position: relative;
    left: 12px;
}

#misc {
    display: inline-block;
    position: relative;
    background-color: grey;
    left: 78%;
    top : 10%;
    float: left;
}

#subjectName {
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .Wrapper {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 8fr 5fr 1fr;
        justify-items: stretch;
        align-items: stretch;
    }

    #sendButton {
        font-size: 14px;
    }

    #sendIcon {
        left: 5px;
    }

    header {
        display: grid;
        grid-column: 1/3;
        background-color: white;
    }

    footer {
        display: grid;
        grid-column: 1/3;
        background-color: white;
    }
}

/* Barra Direita - Início*/

    #CurrentOnlineUsers {
        position: relative;
        background-color: ghostwhite;
        color: #B61919;
    }

    #onlineUsers {
        border-radius: 10px;
        border: solid 2px #B61919;
        background-color: white;
        position: relative;
        height: 85%;
        max-height: 85%;
        overflow-y: auto;
    }

    .CurrentOnlineUsers ul{
        font-size: 15px;
        color: black;
        font-family:Trebuchet MS, sans-serif;
        list-style-type: none;
        line-height: 1.4;
    }

    #userLimit h2 {
        color:#B61919 ;
        text-align: center;
        font-family:Trebuchet MS, sans-serif;
        margin-bottom: 11px;
    }

    #onlineUsersTag {
        text-align: center;
        font-weight: bold;
        color: #B61919;
        font-family:Trebuchet MS, sans-serif;
         margin-top: 5%;
    }

    #onlineUsersTag span.troca1 {
        display: none;
    }

@media screen and (max-width: 1200px) {
    #CurrentOnlineUsers {
        text-align: center;
        text-decoration: none;
        background-color: #B61919;
        opacity: 90%;
        color: white;
        font-family: Trebuchet MS, sans-serif;
        position: absolute;
        top: -175px;
        right: 2px;
        transition: 0.3s;
        padding: 10px;
        width: 200px;
        max-height: max-content;
        border-radius: 0 0 20px 20px;
        height: 205px;
    }

    #CurrentOnlineUsers:hover {
        top: 0;
        right: 0;
        border-bottom-right-radius: 0;
    }

    #onlineUsersTag {
        text-align: center;
        font-weight: bold;
        color: white;
    }
    #CurrentOnlineUsers span.troca1, #CurrentOnlineUsers:hover span.troca2 {
        display: inline;
    }
    #CurrentOnlineUsers:hover span.troca1, #CurrentOnlineUsers span.troca2 {
        display: none;
    }

    #onlineUsers {
        border-radius: 10px;
        border: solid 1px white;
        background-color: ghostwhite;
        height: 90px;
        max-height: 90px;
        margin-left: 10px;
        margin-right: 3px;
        overflow-y: auto;
    }

    .CurrentOnlineUsers ul {
        margin-top: 5px;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.9);
        font-family: Trebuchet MS, sans-serif;
        text-align: center;
        list-style-type: none;
        line-height: 1.4;
    }

    #userLimit {
        margin-top: 5px;
        background-color: transparent;
        font-family: Trebuchet MS, sans-serif;
        font-size: 15px;
        color: white;
    }
}

/* Barra Direita - Fim*/