

/* Estilo da página (body)*/
body{
    font-family:Trebuchet MS, sans-serif;
}
/* Estilo do texto dos imputs */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo do campo email*/
#email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* Estilo do paragrafo2*/
h2 {
    text-align: center;
    font-max-size: large;
    font-family:Trebuchet MS, sans-serif;
}
/* Estilo do paragrafo3*/
h3 {
    text-align: center;
    font-family:Trebuchet MS, sans-serif;
}
/* Estilo do botao submit*/
input[type=submit] {
    align-content: center;
    width: 10%;
    background-color: #B61919;
    color: whitesmoke;
    padding: 14px 20px;
    margin: 8px 0;
    border: #B61919;
    border-radius: 4px;
    cursor: pointer;
}
/* Estilo do hover do botao submit*/
input[type=submit]:hover {
    background-color: #FF2626;
    color: white;
    border: #B61919;
    }
/* Estilo da divisao que inclui o formulario*/
#mainDiv {
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
}

/* Estilo do nome da UC no rodape*/
img, #subjectName {
    margin: auto;
    max-width: 7%;
    color: #B61919;
    font-size: 18px;
    font-weight: bold;
}
/* Estilo da caixa dos TermsAndConditions*/
input[id=TermsAndConditions] {
    width: 20px;
    height: 20px;
}
/* Estilo do rodape*/
footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    text-align: center;
}


