#subjectName{
    color: black;
}

body{
    background-color: whitesmoke;
    text-align: center;
    font-family:Trebuchet MS, sans-serif;
}

#logoGrande {
    max-width: 18%;
}

#termsAndConditions {
    color: black;
    border-radius: 25px;
    margin-left: 15%;
    margin-right: 15%;
    bottom: 20px;
    background: white;
    alignment: center;
    text-align: justify;
    font-family:Trebuchet MS, sans-serif;
    position: relative;
}
h2 {
    text-align: center;
    color: black;
    font-family:Trebuchet MS, sans-serif;
}

h1 {
    text-align: center;
    color: #B61919;
    font-family:Trebuchet MS, sans-serif;
}

h3 {
    text-align: justify;
    color: black;
    font-family:Trebuchet MS, sans-serif;
}

img, #subjectName {
    margin: auto;
    max-width: 7%;
    color: #B61919;
    font-size: 18px;
    font-weight: bold;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    text-align: center;
}