.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: 500px;
}

.wrapper > div{
    background: cadetblue;
    padding: 1em;
}

.wrapper > div:nth-child(odd){
    background: lightblue;
}