* {
    box-sizing: border-box;
}

head{
    background-color: white;
    text-align: center;
    font-family:Trebuchet MS, sans-serif;
}
body {
    background-color: white;
    text-align: center;
    font-family:Trebuchet MS, sans-serif;
}

img, #subjectName, #chatTitle {
    margin: auto;
    max-width: 7%;
}

#logoGrande {
    max-width: 25%;
}

.loginButtonStyle {

    background-color: transparent;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family:Trebuchet MS, sans-serif;
    border-radius: 25px;
    border: 2px solid #B61919;
}

.loginButton:hover {
    background-color: #B61919;
    color: white;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-rows: 13fr 1fr;
    grid-gap: 6px;
    justify-items: stretch;
    align-items: stretch;
}

.ChatInfo {
    background-color:whitesmoke;
}

/* Create three equal columns that floats next to each other */
.chatInfoAnime {
    background-color:whitesmoke;
    float: left;
    width: 33.33%;
    padding: 10px;
}

/* Clear floats after the columns */
.ChatInfo:after {
    background-color: lightgrey;
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .chatInfoAnime {
        width: 100%;
    }
}
